In [139]:
import pandas as pd

In [140]:
data = {
   "Name": ["Swapnil", "Rahul", "Priya", "Amit", "Neha"],
    "Age": [27, 25, 28, 30, 26],
    "Skill": ["Python", "Java", "ML", "DevOps", "AI"],
    "Salary": [800000, 600000, 1200000, 900000, 1500000]
}

In [141]:
df =pd.DataFrame(data)

In [142]:
df

      Name  Age   Skill   Salary
0  Swapnil   27  Python   800000
1    Rahul   25    Java   600000
2    Priya   28      ML  1200000
3     Amit   30  DevOps   900000
4     Neha   26      AI  1500000

In [143]:
print(df.iloc[1:])

    Name  Age   Skill   Salary
1  Rahul   25    Java   600000
2  Priya   28      ML  1200000
3   Amit   30  DevOps   900000
4   Neha   26      AI  1500000

In [144]:
high_salary =df[df['Salary']>1000000]

In [145]:
print(high_salary)

    Name  Age Skill   Salary
2  Priya   28    ML  1200000
4   Neha   26    AI  1500000

In [146]:
high_age = df[df['Age']>26]

In [147]:
print(high_age)

      Name  Age   Skill   Salary
0  Swapnil   27  Python   800000
2    Priya   28      ML  1200000
3     Amit   30  DevOps   900000

In [148]:
df['Expe.'] = [1,2,3,4,5]
df['salary_month']=df['Salary']/12

In [149]:
df

      Name  Age   Skill   Salary  Expe.   salary_month
0  Swapnil   27  Python   800000      1   66666.666667
1    Rahul   25    Java   600000      2   50000.000000
2    Priya   28      ML  1200000      3  100000.000000
3     Amit   30  DevOps   900000      4   75000.000000
4     Neha   26      AI  1500000      5  125000.000000

In [150]:
df = df.rename(columns={"Salary": "Salary_Yearly"})

In [151]:
print(df)

      Name  Age   Skill  Salary_Yearly  Expe.   salary_month
0  Swapnil   27  Python         800000      1   66666.666667
1    Rahul   25    Java         600000      2   50000.000000
2    Priya   28      ML        1200000      3  100000.000000
3     Amit   30  DevOps         900000      4   75000.000000
4     Neha   26      AI        1500000      5  125000.000000

In [153]:
data2 = {
    "Department": ["AI", "AI", "Backend", "Backend", "AI", "Backend"],
    "Name": ["Swapnil", "Neha", "Rahul", "Amit", "Priya", "Vikas"],
    "Salary": [15, 18, 12, 14, 20, 11]  # LPA mein
}

In [154]:
df2 = pd.DataFrame(data2)

In [155]:
print(df2)

  Department     Name  Salary
0         AI  Swapnil      15
1         AI     Neha      18
2    Backend    Rahul      12
3    Backend     Amit      14
4         AI    Priya      20
5    Backend    Vikas      11

In [157]:
print(f"average salary {df2.groupby("Department")['Salary'].mean()}")

average salary Department
AI         17.666667
Backend    12.333333
Name: Salary, dtype: float64

In [159]:
print(f"members in de {df2.groupby("Department")['Name'].count()}")

members in de Department
AI         3
Backend    3
Name: Name, dtype: int64

In [161]:
import numpy as np

data3 = {
    "Name": ["Swapnil", "Rahul", None, "Amit", "Neha"],
    "Age": [27, np.nan, 28, 30, np.nan],
    "Salary": [800000, 600000, None, 900000, 1500000]
}

df3 = pd.DataFrame(data3)

In [162]:
df3

      Name   Age     Salary
0  Swapnil  27.0   800000.0
1    Rahul   NaN   600000.0
2     None  28.0        NaN
3     Amit  30.0   900000.0
4     Neha   NaN  1500000.0

In [165]:
null = df3.isnull().sum()

In [167]:
print(f"{null}")

Name      1
Age       2
Salary    1
dtype: int64

In [168]:
df3['Age']= df3['Age'].fillna(df3['Age'].mean())

In [169]:
df3

      Name        Age     Salary
0  Swapnil  27.000000   800000.0
1    Rahul  28.333333   600000.0
2     None  28.000000        NaN
3     Amit  30.000000   900000.0
4     Neha  28.333333  1500000.0